VITE_FIREBASE_API_KEY="AIzaSyBSHd7Z-T0aHVarC_HrpOMHh0uWLqfk960"
VITE_FIREBASE_AUTH_DOMAIN="linkresult.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="linkresult"
VITE_FIREBASE_STORAGE_BUCKET="linkresult.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="290371002866"
VITE_FIREBASE_APP_ID="1:290371002866:web:d3f4725c4191cb206f0b6b"
VITE_CRYPTO_KEY=mp57tTz83fIMyV+h0vOYpkqyD8rYxsallcNuxrOU/8M=